.fade-in {
  opacity: 0; 
  animation: fadeInAnimation 1s ease-in forwards; 
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

#home-section1 {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
  background-image: url('./components/images/back2.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}


.home-section1-left {
  flex: 1;
}

.home-content {
  max-width: 600px;
}

.main-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 30px;
}

.learn-more-btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #a86cd2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: #9e4ecc;
}

#home-header-image {
  flex: 1;
  text-align: center;
}

#home-header-image img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------------------- */

#mission {
  background: linear-gradient(to bottom, rgba(255, 192, 203, 0.5), transparent);
  padding: 20px;
}

.mission-content {
  /* display: flex; */
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

#mission-text {
  font-size: 40px;
}
.mission-details {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin-bottom: 50px;
}

.mission-benefit,
.information-study,
.under-researched-areas,
.repeat-benefit {
  flex: 0 1 calc(50% - 20px); /* Adjust width and margin as needed */
  margin: 10px; /* Adjust margin as needed */ 
}


/* #mission-image {
  height: 100px;
  flex: 1;
  text-align: center;
}

#mission-image {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
} */

.mission-benefit {
  background: linear-gradient(to bottom, rgba(255, 192, 203, 0.5), transparent);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.information-study {
  background: linear-gradient(to bottom, rgba(135, 206, 235, 0.5), transparent);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.under-researched-areas {
  background: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), transparent);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.repeat-benefit {
  background: linear-gradient(to bottom, rgba(127, 255, 0, 0.5), transparent);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.mission-detail {
  display: flex;
  flex-direction: column;
}


.home-buttons{
  background-color: #9A3BE5;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #9a3be5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8751c0;
}

/* ----------------------------------------------------------------- */
/* 
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
} */

/* section {
  margin-bottom: 20px;
} */

h3 {
  color: #333;
}

p {
  color: #555;
}


#features-section {
  text-align: center;
  background-color: #eed6ff;
  height: 700px;
}

.features-content {
  padding-top: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.features-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.features-description {
  font-size: 1.2em;
}

.feature-items {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  text-align: center;
  flex: 0 1 30%;
}

.feature-image-label {
  font-size: 1.2em;
  color: #777;
  max-width: 75%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-title {
  font-size: 1.2em;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #8751c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8751c0;
}

/* --------------------------------------------------------------------------- */

#research-articles-section {
  text-align: center;
}

.articles-heading {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-item {
  text-align: center;
  flex: 0 1 30%; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-image-label {
  font-size: 1.2em;
  color: #777;
  max-width: 75%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-metadata {
  color: #888;
  margin-top: 10px;
}

.article-item:nth-child(1) {
  background: linear-gradient(135deg, rgba(255, 215, 0, 0.5), rgba(255, 99, 71, 0.5));
}

.article-item:nth-child(2) {
  background: linear-gradient(45deg, rgba(135, 206, 235, 0.5), rgba(255, 160, 122, 0.5));
}

.article-item:nth-child(3) {
  background: linear-gradient(90deg, rgba(127, 255, 0, 0.5), rgba(255, 105, 180, 0.5));
}
.read-more-btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.read-more-btn:hover {
  background-color: #297fb8;
}

